<div id="frontendPublishingModal" title="{{'Publish the node?' | trans}}" style="display: none;">
  <p>
    <i class="fas fa-check-circle" style="float:left; margin:12px 12px 20px 0;"></i>
    {{'The node will be published. You can add a revision message if you want to.' | trans}}
  </p>
  <h4 id="transition_selection_title">{{'Change to' | trans}}</h4>
  <select id="transition_selection" style="width: 100%; display:none;">
  </select>
  <h4>{{'Revision message' | trans}}</h4>
  <textarea id="revision_message" style="height:150px;width: 100%;"></textarea>
</div>